---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../lib/supabaseClient";

export const prerender = false;

const { slug } = Astro.params;

// Cache na Borda (Cloudflare)
Astro.response.headers.set(
    "Cache-Control",
    "public, s-maxage=31536000, stale-while-revalidate=60",
);

const { data: page } = await supabase
    .from("pages")
    .select("*")
    .eq("slug", slug)
    .eq("status", "published")
    .single();

if (!page) {
    return Astro.redirect("/404");
}

// Ensure SEO tags exist
let finalContent = page.content;
finalContent = finalContent.replace(
    /<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi,
    "",
);
---

<Layout title={`${page.title} | Blog.`} description={page.title}>
    <div class="blog-container py-16 pb-24 max-w-4xl">
        <h1
            class="text-3xl md:text-5xl font-black text-gray-900 leading-tight mb-12 tracking-tight text-center"
        >
            {page.title}
        </h1>

        <div
            class="bg-white rounded-2xl shadow-sm border border-gray-100 p-8 md:p-12"
        >
            <!-- Page Content -->
            <div class="prose-blog" set:html={finalContent} />
        </div>
    </div>
</Layout>
